.clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (max-width: 1199px) {
            margin-right: -30px;
            margin-top: -30px;
    }
        @media screen and (min-width: 1200px) {
            margin-right: -30px;
            margin-top: -30px;
        }
    &__block {
            height: 92px;
            flex-basis: calc((100% - (4*15px)) / 2);
            margin-right: 30px;
            margin-top: 30px;
            
            @media screen and (min-width: 768px) {
                            flex-basis: calc((100% - (6*15px)) / 3);
                            
                        }
                        @media screen and (min-width: 1200px) {
                            flex-basis: calc((100% - (12*15px)) / 6);
                            margin-bottom: 0;
                        }
            
        }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        fill: var(--bkgrd-link-color);
        border-radius: 4px;
        border: 1px solid #afb1b8;
    
        transition: fill var(--timing) var(--transition-func),
            border-color var(--timing) var(--transition-func);
        &:hover,
        &:focus {
                fill: var(--button-hero-active);
                border-color: var(--logo-color);
            }
    }
}
