.connect {
    @media screen and (max-width:1199px) {
            flex-basis: 50%;
        }
    @media screen and (max-width: 768px) {
            margin-top: 60px;
        }

    @media screen and (min-width: 1200px) {
        margin-left: 70px;
    }
    
    & .icon {
            fill: var(--main-bkgrd-color);
        }
    & .social-block-link {
        background-color: var(--bkgrd-link-sec-color);
    
        transition: background-color var(--timing) var(--transition-func);
        &:focus,
        &:hover {
                background-color: var(--logo-color);
            }
    }
    & .social-block__icon {
    fill: var(--main-bkgrd-color);
    }
}


 