.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    &__button {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.62;
            text-align: center;
            color: var(--main-text-color);
            background-color: var(--third-bkgrd-color);
            cursor: pointer;
            padding: 6px 22px;
            border-radius: 4px;
            border: 0;
    
            transition: color var(--timing) var(--transition-func),
                background-color var(--timing) var(--transition-func),
                box-shadow var(--timing) var(--transition-func);
                &--active {
                        color: var(--main-bkgrd-color);
                        background-color: var(--logo-color);
                        padding: 6px 25px;
                        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
                            0px 2px 2px rgba(0, 0, 0, 0.12);
                    }
                &:hover,
                &:focus {
                    color: var(--main-bkgrd-color);
                    background-color: var(--logo-color);
                    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
                        0px 2px 2px rgba(0, 0, 0, 0.12);
                }
        }
        &__item:not(:last-child) {
            margin-right: 8px;
        }
}
