/* Навігація сторінки */
.menu-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    display: flex;

    &__link {
            color: var(--main-text-color);
            text-decoration: none;
    
            padding-top: 32px;
            padding-bottom: 32px;
            display: inline-block;
    
            transition: color var(--timing) var(--transition-func);

            &--active{
                    color: var(--logo-color);
                    text-decoration: none;
            
                    position: relative;
            
                    padding-top: 32px;
                    padding-bottom: 32px;
                    display: inline-block;

                    &::after {
                            content: "";
                            display: block;
                            width: 100%;
                            height: 4px;
                            background-color: var(--logo-color);
                            border-radius: 2px;
                    
                            position: absolute;
                            left: 0;
                            bottom: -1px;
                    
                            transition: width var(--timing) var(--transition-func);
                        }
                }
                &:hover, &:focus {
                        color: var(--logo-color);
                    }
        }
        & .menu-nav__list+.menu-nav__list {
                margin-left: 50px;
        }
}
