.occupation {
    padding-top: 0;
    &-thumb {
            position: relative;
            &__image {
                    position: absolute;
                    content: "";
                    bottom: 0;
                    left: 0;
            
                    display: inline-block;
                    width: 100%;
                    height: 70px;
            
                    background-color: rgba(47, 48, 58, 0.8);
                }
            &__name {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 70px;
                bottom: 0;
            
                font-weight: 700;
                line-height: 1.14;
                text-align: center;
                text-transform: uppercase;
                color: var(--main-bkgrd-color);
            }
        }
}
