.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    transition: transform var(--timing) var(--transition-func);
    transform: translateY(100%);
}